:root {
  --princial_color: #113458;
  --first_complementary: #f2aa1f;
  --second_complementary: #F0F4F9;
  --dark: #0F172A;
  --white: #ffffff;
  --button-save-bg: #1D4ED8;
  --buton-delete-bg: #B91C1C;
  --buton-update-bg: #FACC15;
  --button-text: #F8FAFC;
  --border: #DEE2E6;
  --dark-text: #343A40;
  --white-200: #E2E8F0;
  --white-50: #F8FAFC;
  --panel-width: 500px;
  --success-green: #38b2ac;
  --bg-success-green: #e6fffa;
}

/* Estilos Principales */

body {
  width: 100%;
  height: 100vh;
  background-color: var(--second_complementary) !Important;
  /* background-color: var(--dark); */
  overflow: hidden;
}

ul li {
  list-style: none;
}

th {
  font-weight: 400;
}

td {
  vertical-align: middle;
}

.selected th {
  background-color: var(--button-save-bg) !important;
}

.system-info-card {
  background-color: var(--button-save-bg);
  color: var(--white);
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.system-info-card i {
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

.border-text {
  font-size: 1rem;
  border-left: 5px solid var(--button-save-bg);
  padding: 0rem 1rem;
}

.main-content {
  height: 100%;
  overflow-y: scroll;
}

.user-information {
  border-bottom: 1px solid;
  border-image-source: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, #d7d7d7 50%, rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
  border-image-width: 1;
  border-image-outset: 0;
  border-image-repeat: stretch;
}

.avatar-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.avatar-icon img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  z-index: 1;
}

.avatar-icon::before {
  content: "";
  position: absolute;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  background-color: var(--first_complementary) !Important;
}

.menu-title {
  color: var(--princial_color);
  padding: 0rem 2rem;
  transition: all 1s ease-in-out;
}

.menu-title i {
  transition: all 1s ease-in-out;
}

.menu-item:hover {
  background-color: var(--second_complementary);
}

.menu-item:hover > i {
  transform: scale(1.2);
}

.menu-item_selected {
  background-color: var(--success-green);
}

.menu-item_selected i {
  color: var(--white-50);
}

.menu-item_selected p {
  color: var(--white-50);
}

.menu-item i {
  font-size: x-large;
}

.table-head {
  background-color: var(--white-200);
  color: var(--dark);
}

.vacations-info_item {
  transition: all 0.2s ease-in-out;
}

.vacations-info_item:hover {
  background-color: var(--bg-success-green);
}

.table-employe-item {
  padding: 0.5rem;
  background-color: var(--white);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 0.2rem;
}

.table-item {
  background-color: var(--white);
  border: 1px solid var(--white-50);
}

.soft-shadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.table-item:hover {
  background-color: #f2f2f2;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.employe-table-image img {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.employe-table-image {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.employee-table-info-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.employe-param-title {
  margin: 0;
  font-weight: bold;
}

.form-container {
  width: var(--panel-width);
  height: 100%;
  background-color: var(--white);
  position: absolute;
  right: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  transform: translateX(var(--panel-width));
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
  overflow-y: scroll;
}

.request-vacations-area {
  overflow: hidden;
  overflow-y: scroll;
}

.item-added_form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  cursor: pointer;
}

.item-added_fill {
  color: var(--success-green);
}

.file-button i {
  font-size: 35px;
}

.form-active {
  transform: translateX(0);
}

.file-input-custom {
  width: 100%;
  height: 6rem;
  border: 2px dashed var(--border);
  border-radius: 0.5rem;
  position: relative;
  cursor: pointer;
}

.input-require {
  color: var(--dark-text);
  font-weight: bold;
}

.file-input-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

.file-input-content p {
  color: var(--dark-text);
}

.input-file {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}

.separator {
  border-bottom: 1px solid var(--border);
}

.container-form-attendance {
  background-color: var(--white);
  border-radius: 0.4rem;
}

/* Menu lateral */

.sideBar {
  width: 80px;
  background-color: var(--white-50);
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
  display: flex;
  flex-direction: column;
}

.header-menu {
  width: 80px;
  overflow: hidden;
}

.body-menu {
  width: 80px;
  flex-grow: 1;
  overflow: hidden;
}

.footer-menu {
  width: 80px;
  overflow: hidden;
}

.menu-item {
  width: 100%;
  padding: 1.5rem;
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu-item:hover {
  background-color: #d7d7d7;
}

ul {
  width: 100%;
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
}

.expanded {
  width: 300px;
}

.logo {
  width: 100%;
}

ul li p {
  display: none;
  margin: 0rem 1rem;
  white-space: nowrap;
}

.tooltip {
  display: none !important;
}

.avatar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.avatar div {
  display: none;
}

.avatar p {
  display: none;
  white-space: nowrap;
}

.avatar img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.sideBar.expanded .header-menu,
.body-menu,
.footer-menu {
  width: 100%;
}

.sideBar.expanded ul li p {
  display: block;
}

.sideBar.expanded .avatar p {
  display: block;
}

.sideBar.expanded .avatar div {
  display: block;
}

.preview-image {
  width: 100%;
  border-radius: 0.5rem;
  padding: 0.8rem;
  border: 1px solid var(--white-200);
}

.text-bg-primary-light {
  color: var(--button-save-bg);
}

.circle-vacations-info {
  width: 15rem;
  height: 15rem;
  background-color: var(--white-200);
  border-radius: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.circle-vacations-info::before {
  position: absolute;
  content: '';
  width: 14rem;
  height: 14rem;
  background-color: white;
  border-radius: 100%;
  z-index: 1;
}

.circle-vacations-info img {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 2;
}

.circle-vacations-info div {
  z-index: 2;
}

.vacations-list-employee {
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.vacations-list-employee:hover {
  background-color: var(--white-200);
}

.img-request-list {
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0.5rem;
}

.img-request-list img {
  width: 2.5rem;
  height: 2.5rem;
}

.bg-primary-light {
  background-color: var(--button-save-bg);
}